# vim: ts=4 et sw=4 sts=4

snippet #! "Python shebang" b
    #!/usr/bin/env python3

snippet main "Script entry point" b
    def main():
        $0
        return 0

    if __name__ == '__main__':
        sys.exit(main())
