[submodule "oh-my-zsh-custom/themes/honukai"]
	path = oh-my-zsh-custom/themes/honukai
	url = https://github.com/oskarkrawczyk/honukai-iterm-zsh.git
[submodule "vim/bundle/default/salve"]
	path = vim/bundle/default/salve
	url = https://github.com/tpope/vim-salve.git
[submodule "base16-shell"]
	path = config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "nvim/pack/bundle/start/projectionist"]
	path = nvim/pack/bundle/start/projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "nvim/pack/bundle/start/vinegar"]
	path = nvim/pack/bundle/start/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "nvim/pack/bundle/start/surround"]
	path = nvim/pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/pack/bundle/start/fugitive"]
	path = nvim/pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/pack/bundle/start/base16"]
	path = nvim/pack/bundle/start/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "nvim/pack/bundle/start/commmentary"]
	path = nvim/pack/bundle/start/commmentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "nvim/pack/bundle/start/clojure-static"]
	path = nvim/pack/bundle/start/clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "nvim/pack/bundle/start/show-trailing-whitespace"]
	path = nvim/pack/bundle/start/show-trailing-whitespace
	url = https://github.com/vim-scripts/ShowTrailingWhitespace.git
[submodule "nvim/pack/bundle/start/delete-trailing-whitespace"]
	path = nvim/pack/bundle/start/delete-trailing-whitespace
	url = https://github.com/vim-scripts/DeleteTrailingWhitespace.git
[submodule "nvim/pack/bundle/start/easy-align"]
	path = nvim/pack/bundle/start/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "nvim/pack/bundle/start/repeat"]
	path = nvim/pack/bundle/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "nvim/pack/bundle/opt/rainbow"]
	path = nvim/pack/bundle/opt/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "config/base16-fzf"]
	path = config/base16-fzf
	url = https://github.com/nicodebo/base16-fzf.git
[submodule "nvim/pack/bundle/opt/stylus"]
	path = nvim/pack/bundle/opt/stylus
	url = https://github.com/iloginow/vim-stylus.git
[submodule "nvim/pack/bundle/start/lexima"]
	path = nvim/pack/bundle/start/lexima
	url = https://github.com/cohama/lexima.vim.git
[submodule "nvim/pack/bundle/start/goyo"]
	path = nvim/pack/bundle/start/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "nvim/pack/bundle/start/limelight"]
	path = nvim/pack/bundle/start/limelight
	url = https://github.com/junegunn/limelight.vim.git
[submodule "nvim/pack/bundle/start/dadbot"]
	path = nvim/pack/bundle/start/dadbot
	url = https://github.com/tpope/vim-dadbod.git
[submodule "nvim/pack/bundle/start/nginx"]
	path = nvim/pack/bundle/start/nginx
	url = https://github.com/chr4/nginx.vim.git
[submodule "nvim/pack/bundle/start/qf"]
	path = nvim/pack/bundle/start/qf
	url = https://github.com/romainl/vim-qf.git
