[submodule "oh-my-zsh-custom/themes/honukai"]
	path = oh-my-zsh-custom/themes/honukai
	url = https://github.com/oskarkrawczyk/honukai-iterm-zsh.git
[submodule "vim/bundle/default/salve"]
	path = vim/bundle/default/salve
	url = https://github.com/tpope/vim-salve.git
[submodule "nvim/pack/bundle/start/repeat"]
	path = nvim/pack/bundle/start/repeat
	url = https://github.com/tpope/vim-repeat.git
