{:linters
 {:clojure-lsp/unused-public-var
  {:exclude-when-defined-by #{cljs.core/defrecord
                              cljs.core/deftype
                              cljs.test/deftest
                              clojure.test/deftest}}}
 :lint-as {clojure.test.check.clojure-test/defspec clojure.test/deftest}}
