snippet l "console.log" w
console.log ${1:message}
endsnippet

snippet #= "require" b
#= require ${1:environment}
endsnippet

snippet ! "use strict" b
'use strict'
endsnippet

snippet ex "module exports assignment" b
module.exports = $0
endsnippet

snippet =r "require assignment" w
$1 = require '${2:$1}'
endsnippet
