snippet d "context" b
describe('${1:context}', function () {
  ${0://examples go here}
});
endsnippet


snippet i "example" b
it('${1:example}', function () {
  ${0://example goes here}
});
endsnippet

snippet b "setup" b
beforeEach(function () {
  ${0://setup goes here}
});
endsnippet

snippet e "assertion" b
expect($1).to${2:Be}(${3:true});
endsnippet

snippet eb "expect to be" b
expect($1).toBe(${2:true});
endsnippet
