snippet .sh "should have" i
.should.have "${1:selector}"
endsnippet

snippet .snh "should not have" i
.should.not.have "${1:selector}"
endsnippet

snippet .shc "should have class" i
.should.have.class "${1:class}"
endsnippet

snippet .sht "should have text" i
.should.have.text "${1:class}"
endsnippet

snippet .sha "should have attr" i
.should.have.attr "${1:attr}"${2:, ${3:value}}
endsnippet
