snippet .s "should" i
.should
endsnippet 

snippet .h "have" i
.have
endsnippet 

snippet .n "not" i
.not
endsnippet

snippet .e "eql" i
.eql ${1:value}
endsnippet

snippet .se "should eql" i
.should.eql ${1:value}
endsnippet

snippet .= "equal" i
.equal ${1:value}
endsnippet

snippet .s= "should equal" i
.should.equal ${1:value}
endsnippet

snippet .sbai "should be an instanceof" i
.should.be.an.instanceof ${1:Class}
endsnippet

