snippet sh "require spec helper" b
require 'spec_helper'
endsnippet

snippet rh "require rails helper" b
require 'rails_helper'
endsnippet

snippet d "describe" b
describe '$1' do
  $0
end
endsnippet

snippet c "context" b
context '$1' do
  $0
end
endsnippet

snippet b "before each" b
before do
  $0
end
endsnippet

snippet i "example" b
it '$1' do
  $0
end
endsnippet

snippet e "expectation" b
expect($1).to $0
endsnippet
