snippet pry "open Pry from here" b
binding.pry
endsnippet

snippet m "module" b
module ${1:MyModule}
  ${2:# TODO: implement module $1}
end
endsnippet

snippet c "class" b
class ${1:MyClass}
  ${2:# TODO: implement class ${1/\s.*//}}
end
endsnippet

snippet d "def" b
def ${1:my_method}($2)
  ${3:# TODO implement method $1}
end
endsnippet
