{:cljfmt {:indents
          {reg-sub-db [[:inner 0]]
           reg-sub-raw [[:inner 0]]
           trigger [[:inner 0]]
           instrument! [[:inner 0]]
           reg-event-domain [[:inner 0]]
           reg-sub [[:inner 0]]
           reg-event-db [[:inner 0]]
           print-time [[:inner 0]]
           group [[:inner 0]]
           reg-event-persistent-fx [[:inner 0]]
           as-> [[:inner 0]]
           guard-> [[:inner 0]]
           reg-sub-reaction [[:inner 0]]
           reg-block-event-fx [[:inner 0]]
           reg-event-persistent-db [[:inner 0]]
           reg-fx [[:inner 0]]
           reg-event-domain-fx [[:inner 0]]
           reg-cofx [[:inner 0]]
           group-collapsed [[:inner 0]]
           reg-event-fx [[:inner 0]]
           async [[:inner 0]]}}
 :keep-require-at-start? true
 :semantic-tokens? true}
