snippet d "describe" b
describe "${1:context}", ->
  $0
endsnippet

snippet c "context" b
context "${1:context}", ->

  $0
endsnippet

snippet b "before" b
beforeEach ->
  $0
endsnippet

snippet a "after" b
afterEach ->
  $0
endsnippet

snippet i "it" b
it "${1:example}", ->
  $0
endsnippet

snippet e "expect" b
expect( ${1:actual} ).$0
endsnippet

snippet #=sh "require spec_helper" b
#= require spec_helper
#= require ${1:`!p snip.rv = re.sub("_?spec/?(\..*)?", "", path)`}

$0
endsnippet
